demo/target/classes/odata-demo-maven.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:odata="http://www.mulesoft.org/schema/mule/odata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/odata http://www.mulesoft.org/schema/mule/odata/1.0/mule-odata.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <odata:config name="OData" serviceUri="http://datafeed.medicinehat.ca/v1/data/" consumerVersion="V1" doc:name="OData">
        <odata:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </odata:config>

    <flow name="odata-demoFlow1" doc:name="odata-demoFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8080" doc:name="HTTP" path="buildings"/>
        <odata:get-entities config-ref="OData" entitySetName="CityBuildings"  doc:name="OData Cloud Connector" returnClass="com.mulesoft.modules.odata.demo.model.CityBuilding"/>
        <choice doc:name="Choice">
        	<when expression="#[payload.isEmpty()]">
        		<set-payload value="no results" doc:name="Set Payload"/>
        	</when>
        	<otherwise>
                <processor-chain doc:name="Processor Chain">
                    <json:object-to-json-transformer doc:name="Object to JSON"/>
                </processor-chain>
        	</otherwise>
        </choice>
    </flow>
</mule>
